@import "tailwindcss";
.navbar {
  font-family: 'Satoshi', sans-serif !important;
}

.body-container{
  font-family: 'Clash Grotesk', sans-serif;
}

.logo {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}

nav a {
  margin-left: 1rem;
  color: #aaa;
  text-decoration: none;
}

nav a.active {
  color: #fff;
}